<!DOCTYPE html>
<html>
  <head>
    <h1 id="header">University of Florida</h1>
    <h2 id="curData"></h2>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1,user-scalable=no"
    />
    <title>Project 3</title>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/3.43/esri/css/esri.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://js.arcgis.com/3.43/"></script>
    <script>
      require([
        "esri/map",
        "esri/layers/OpenStreetMapLayer",
        "dojo/domReady!",
      ], function (Map, OpenStreetMapLayer) {
        var map, openStreetMapLayer;

        map = new Map("esri-map-container", {
          center: [-82.3477896, 29.6464527],
          zoom: 12,
        });
        openStreetMapLayer = new OpenStreetMapLayer();
        map.addLayer(openStreetMapLayer);
      });
    </script>
  </head>

  <body>
    <script>
      curData_ = document.getElementById("curData");
      var data;
      var parser = new DOMParser();
      var xmlDoc;
      fetch("https://api.openstreetmap.org/api/0.6/node/8013981115", {
        headers: {
          Accept: "application/xml",
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.text())
        .then((result) => {
          //console.log(result);
          xmlDoc = parser.parseFromString(result, "text/xml");
          const curNode = xmlDoc.getElementsByTagName("node")[0];
          const curLat = curNode.getAttribute("lat");
          console.log(curLat);
          const curLon = curNode.getAttribute("lon");
          console.log(curLon);
          const curTags = curNode.getElementsByTagName("tag");
          const curCity = curTags[0].getAttribute("v");
          console.log(curCity);
          const curHouseNum = curTags[1].getAttribute("v");
          console.log(curHouseNum);
          const curPostCode = curTags[2].getAttribute("v");
          console.log(curPostCode);
          const curState = curTags[3].getAttribute("v");
          console.log(curState);
          const curStreet = curTags[4].getAttribute("v");
          console.log(curStreet);
          const curName = curTags[5].getAttribute("v");
          console.log(curName);
          const curPhone = curTags[6].getAttribute("v");
          console.log(curPhone);
          const curShop = curTags[7].getAttribute("v");
          console.log(curShop);
          console.log(xmlDoc.getElementsByTagName("node")[0]);
          curData_.innerHTML = JSON.stringify(typeof result);
        })
        .catch((error) => {
          console.error(error);
        });
        console.log(xmlDoc.getElementsByTagName("node")[0]);

    </script>
    <div id="esri-map-container"></div>
  </body>
</html>
