html,
body,
#map-container {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    position: relative;
}

#map_zoom_slider {
    top: 20px;
    left: 20px;
}

#map {
    height: 99%;
    width: 99%;
    z-index: 1;
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Verdana;
}

#input-container {
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 30%;
    min-width: fit-content;
    height: 90%;
    min-height: fit-content;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    
}
#input-container.hidden {
    transform: translateX(-90%);
}

#mainText
{
    font-family: Verdana;
    font-size: 25px;
    margin-left: 10%;
    color:rgb(255, 255, 255);
}

#startLocation
{
    border-radius: 7px;
}

#endLocation
{
    border-radius: 7px;
}


#calculate-route-btn {
    margin-top: 10px;
}

.esriSimpleMarkerSymbol path {
    fill: rgb(0, 255, 255);
    stroke: #000000;
    stroke-width: 0.5px;
    }
    label[for="startLocation"],
    label[for="endLocation"],
    label[for="option1"],
    label[for="option2"] {
    color: white;
}
#menu-toggle {
    position: absolute;
    top: 0;
    left: 490px;
    background-color: #1f1d1d;
    min-width: fit-content;
    min-height: fit-content;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
#menu-toggle::before {
    content: "▶";
    margin-right: 8px;
    transform: rotate(180deg);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
#menu-toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    border: 6px solid transparent;
    border-left-color: #333;
    transform: translateY(-50%);
  }
#menu-toggle.open::before {
    transform: rotate(-90deg);
  }
#hide-button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
#show-button {
    position: fixed;
    left: 0;
    top: 50%;
    display: none;
  }
  
